#login-container {
  display: flex;
  justify-content: center;
}

#login {
}

#login > form {
  width: 100%;
  background-color: white;
  border-style: solid;
  border-color: #cbd5e0;
  border-radius: 1rem;
  box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
}

#login h2 {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#login div {
  display: flex;
  justify-content: center;
}

#login input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;
  flex: 1 1 0%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  border-style: solid;
  border-color: #cbd5e0;
  border-radius: 0.25rem;
  box-shadow: 0 4px 4px -1px rgba(0,0,0,0.1);
}

#login button {
  margin: 1rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  background-color: white;
  border-radius: 0.25rem;
  color: #4299e1;
  border: none;
  font-weight: bold;
}

#login button:hover {
  background-color: #4299e1;
  color: white;
  cursor: pointer;
}
