<div id="login-container">
  <div id="login">
    <div id="link-buttons">
      <a routerLink="/login" id="login-link">Login</a>
      <a routerLink="/signup" id="signup-link">Signup</a>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>{{ header | uppercase }}</h2>
      <div>
        <input type="text" formControlName="username" placeholder="Username" required />
      </div>
      <div>
        <input type="password" formControlName="password" placeholder="Password" required />
      </div>
      <div>
        <button type="submit" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>
