<div>
  <h2>{{ header | uppercase }}</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <input type="text" formControlName="firstName"  placeholder="First Name" required /><br>
    <input type="text" formControlName="lastName" placeholder="Last Name" required /><br>
    <input type="email" formControlName="email" placeholder="Email" required /><br>
    <input type="text" formControlName="username" placeholder="Username" required /><br>
    <input type="password" formControlName="password" placeholder="Password" required /><br>
    <select formControlName="empType">
        <option [ngValue]="null" disabled>Employee Type</option>
        <option *ngFor="let opt of employeeOptions" [ngValue]="opt.name">
          {{ opt.label }}
        </option>
    </select>
    <br>
    <button type="submit" [disabled]="!signupForm.valid">Register</button>
  </form>
</div>
