/* Copied from Tailwind CSS */
h1, h2, p, input {
  font-family: system-ui;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

a {
  text-decoration: none;
  color: black;
}
